*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:white;
    font-family:Georgia, serif;
    line-height:1.8;
}

/* HERO */

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:4rem;
    letter-spacing:3px;
    margin-bottom:20px;
}

.hero p{
    font-size:1.5rem;
    color:#bdbdbd;
}
.hero-line{
    width:150px;
    margin:30px auto;
    border:1px solid #555;
}

/* VIDEO */

.video-section{
    text-align:center;
    padding:50px 20px;
}

.video-section h2{
    margin-bottom:30px;
    font-size:2rem;
}

.video-section iframe{
    width:80%;
    max-width:900px;
    height:500px;

    border:none;
    border-radius:10px;
}

/* QUOTE + IMAGE */

.quote-section{
    display:flex;
    align-items:center;
    justify-content:center;

    gap:60px;

    padding:80px 10%;

    background:#f5f5f5;
    color:black;
}

.image-box img{
    width:350px;
    border-radius:10px;
}

.quote-box{
    max-width:500px;
}

.quote-box h2{
    font-size:2rem;
    line-height:1.5;
}

.quote-box p{
    margin-top:20px;
    color:#666;
    font-size:1.1rem;
}

/* BIOGRAPHY */

.bio{
    max-width:900px;
    margin:auto;

    padding:80px 20px;
}

.bio h2{
    text-align:center;
    margin-bottom:30px;
    font-size:3rem;
}

.bio p{
    margin-bottom:20px;
    font-size:1.1rem;
}

/* ACHIEVEMENTS */

.achievements{
    background:#111;
    padding:80px 20px;
}

.achievements h2{
    text-align:center;
    margin-bottom:40px;
    font-size:3rem;
}

.achievements ul{
    max-width:700px;
    margin:auto;
}

.achievements li{
    margin-bottom:20px;
    font-size:1.2rem;
}

/* LEGACY */

.legacy{
    max-width:900px;
    margin:auto;

    padding:80px 20px;
}

.legacy h2{
    text-align:center;
    margin-bottom:30px;
    font-size:3rem;
}

.legacy p{
    font-size:1.1rem;
    text-align:center;
}

/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    background:#111;
    color:#bdbdbd;
}

/* MOBILE */

@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .video-section iframe{
        width:95%;
        height:300px;
    }

    .quote-section{
        flex-direction:column;
        text-align:center;
    }

    .image-box img{
        width:250px;
    }

    .quote-box h2{
        font-size:1.5rem;
    }

}